input{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

hr {
    background-color: black;
}

pre {
    color: black;
}

.formulario{
    text-align: center;
    color:rgb(62, 2, 104);
}